@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower:400,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::selection {
    all: unset;
}
  
body {
  min-height: 100vh;
  font-size: 16px;
  background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
  padding: 2rem;
  overflow: hidden;
}

.app-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .app-logo {
        position: absolute;
        top: .5rem;
        left: .5rem;
        width: 4rem;
        height: 4rem;
    }

    .app-title {
        font-family: 'Indie Flower', cursive;
        font-size: 64px;
        font-weight: 700;
        color: #fff;
        text-shadow: 2px 2px rgba(0,0,0,.65);
        margin-bottom: 5rem;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .app-container {

        .app-title {
            font-size: 48px;
        }
    }
}

@media (max-width: 600px) {
    .app-container {

        .app-title {
            font-size: 32px;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

@media (max-width: 400px) {
    .app-container {

        .app-title {
            font-size: 32px;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
    }
}