.container {
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3), -5px -5px 10px rgba(0,0,0,.3);
    display: flex;
    width: 450px;
    height: 650px;
    border-radius: 10px;
    flex-direction: column;
    color: #444;
    overflow: hidden;

    .title-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem .8rem 0;
        margin-bottom: 1rem;

        .title {
            font-size: 1.4rem;

            .sub-title {
                font-size: 1.2rem;
            }
        }
    }

    .todos-container {
        position: relative;
        flex: 99;
        padding: .5rem .8rem 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 600px) {
    .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}