.container {
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3), -5px -5px 10px rgba(0,0,0,.3);
    display: flex;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    flex-direction: column;
    color: #444;
    overflow: hidden;

    .title-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem .8rem 0;
        margin-bottom: 1rem;

        .title {
            font-size: 1.4rem;

            .sub-title {
                font-size: 1.2rem;
            }
        }
    }

    .todos-container {
        flex: 99;
        padding: .6rem .8rem 0;
        overflow-y: auto;
    }

    .placeholder-container {
        flex: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}