.wrapper {
    position: relative;

    .container {
        cursor: default;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 .5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: 1px solid;
        border-color: rgba($color: #6BBCC9, $alpha: 1);
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: .3);
        transition: all 250ms ease-in-out;
    
        .description {
            flex: 9;
            font-size: 14px;
            padding: 0 1.5rem 0 .5rem;
        }
    
        &.completed {
            opacity: .35;
            border-color: rgba($color: #888, $alpha: .6);
    
            .description {
                text-decoration: line-through;
            }
    
            &:hover {
                border-color: rgba($color: #000000, $alpha: .3);
                box-shadow: none;
            }
        }
    }

    .delete-icon {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        z-index: 9;
        box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: .5);
    }
}