.wrapper {
    position: absolute;
    width: calc(100% - 1.6rem);

    .container {
        position: relative;
        cursor: default;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 .8rem;
        border-radius: 5px;
        border: 1px solid;
    
        .description {
            flex: 9;
            font-size: 1rem;
            padding-left: .7rem;
        }
    }
}