.container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: .5);
}