.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: .5);

    .icon {
        width: 1.3rem;
        height: 1.3rem;
        color: #999;
        opacity: 0;
        transition: opacity 150ms 100ms ease;

        &.checked {
            opacity: 1;
        }
    }
}